/* base */
/* :root {
  --background-color: #000618;
  --title-color: #90fff9;
  --paraph-color: #e6fffe;
  --symbol-color: #809dff;
  --highlighted-color: #c884ff;
  --highlighted-color-2: #a8ffe9;
  --inaccessible-color: #ff4d5c;
} */

/* lava theme */
/* :root {
  --background-color: #11151D;
  --title-color: #d85841;
  --paraph-color: #7f5056;
  --symbol-color: #D76c58;
  --highlighted-color: #D76c58;
  --highlighted-color-2: #D76c58;
  --inaccessible-color: #ff4d5c;
} */

/* purple theme */
/* :root {
  --background-color: #001021;
  --title-color: #A0D2DB;
  --paraph-color: #8D3B72;
  --symbol-color: #BEE7E8;
  --highlighted-color: #7D8CC4;
  --highlighted-color-2: #BEE7E8;
  --inaccessible-color: #ff4d5c;
} */

/* green/blue theme */
/* :root {
  --background-color: #383F51;
  --title-color: #D2F898;
  --paraph-color: #06D6A0;
  --symbol-color: #E56399;
  --highlighted-color: #22AED1;
  --highlighted-color-2: #22AED1;
  --inaccessible-color: #ff4d5c;
} */

/* green/blue theme */
:root {
  --background-color: #383F51;
  --title-color: #D2F898;
  --paraph-color: #06D6A0;
  --symbol-color: #E56399;
  --highlighted-color: #22AED1;
  --highlighted-color-2: #22AED1;
  --inaccessible-color: #ff4d5c;
}

@font-face {
  font-family: merryweather;
  src: url(Merriweather-Regular.ttf);
}

body {
  background-color: var(--background-color);
  color: var(--paraph-color);
  font-family: merryweather;
}

#content {
  width:650px;
  margin: auto;
}

.container-left-bigger {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 10px;
}

.container-right-bigger {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 10px;
}

.container-even {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.left-section-column {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-section-row {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section-column {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-section-row {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links {
  grid-column: 1;
  display: flex;
  justify-content: left;
}

.header-tags {
  grid-column: 2;
  display: flex;
  justify-content: right;
}

.dashed-line-spaced {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 100px;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 5px, var(--paraph-color) 5px, var(--paraph-color) 10px);
  content: "";
}

.dashed-line {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 5px, var(--paraph-color) 5px, var(--paraph-color) 10px);
  content: "";
}

h1 {
  color: var(--title-color);
}

h2 {
  color: var(--title-color);
}

h3 {
  color: var(--title-color);
}

p {
  color: var(--paraph-color);
}

ul {
  color: var(--paraph-color);
}

.symbol {
  color: var(--symbol-color)
}

strong {
  color: var(--highlighted-color);
  font-weight: normal;
}

a {
  color: var(--highlighted-color-2);
  position: relative;
  text-decoration: none;
}
a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  background-color: var(--title-color);
  transition: width 0.3s ease;
}
a:hover::before {
  width: 100%;
}

.link-end {
  color: var(--paraph-color);
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}
.link-end:hover {
 color: var(--inaccessible-color)
}

pre {
  border-radius: 10px;
}

img {
  border-radius: 10px;
  margin: 20px;
}